/***********page photographe*******/

/****base****/
.noScroll {
  overflow: hidden;
}
a {
  border: 5px solid transparent;
  outline: 0;
}
a.lienLogo {
  display: block;
  height: 100%;
  width: 20%;
}
p,
h2,
h1,
button,
div,
video {
  border: 2px solid transparent;
  outline: 0;
}
article:focus,
p:focus,
h2:focus,
h1:focus,
img:focus,
video:focus,
div:focus {
  border: 2px solid #95fff9 !important;
  outline: none !important;
}
i {
  pointer-events: none;
}
input {
  border: 5px solid transparent;
  outline: 0;
  pointer-events: auto;
}
input:focus {
  outline: none !important;
}
a:focus,
input:focus,
button:focus {
  border: 5px solid #95fff9 !important;
  outline: none !important;
}

/****header****/
.photographer .logo {
  height: 50px;
  width: 200px;
  margin-top: 24px;
  border-radius: 0px;
  margin-left: 9px;
}
.photograph-header {
  height: 313px;
  width: 100%;
  margin-top: 50.8px;
  margin-bottom: 100px;
  border-radius: 5px;
  background: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-right: 34px;
  background: #c4c4c4;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  object-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 34px;
}
.info h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  margin: 0px;
  line-height: 83px;
  color: #d3573c;
}
.info .city {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #901c1c;
  margin: 0;
}
.info .tagline {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #525252;
  margin-top: 16px;
  margin-bottom: 0px;
}
/*****main******/
.photographer {
  margin: 24px 100px;
}

.photographer main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.photographer .mediaContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.VideoContainer {
  height: 300px;
  width: 350px;
  border-radius: 5px;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  z-index: 0;
}
video#video {
  margin-top: 10px;
}
.mediaFirst {
  height: 300px;
  width: 350px;
  border-radius: 5px;
  object-fit:cover;
}
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
}
.description h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #911c1c;
  text-overflow: clip;
  max-width: 300px;
}
.description p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 19px;
  color: #901c1c;
}

.likes {
  display: flex;
}

.Likes {
  display: flex;
}
button.heart {
  font-size: 23px;
  background-color: transparent;
}
button.heart::after {
  content: "\f004";
  font-family: "Font awesome 5 free";
  height: 18.350000381469727px;
  width: 17.5px;
  border-radius: 0px;
  color: #911c1c;
  font-weight: bold;
  font-size: 1.5rem;
}
.insert {
  height: 89px;
  width: 376px;
  margin-left: 0px;
  margin-top: 13px;
  border-radius: 5px;
  background: #db8876;
  right: 36px;
  bottom: -21px;
  position: fixed;
  font-weight: bold;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}

.insert_description {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
#price {
  height: 31px;
  width: 133px;
  margin-left: 19px;
  margin-top: 21px;
  border-radius: 0px;
  font-weight: bold;
}
#divDesc{
  display: none;
}
#update {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: right;
}
div#update {
  margin-top: -5px;
}

.screen-reader-text {
  display:none;
}
button.Heart {
  font-size: 23px;
  background-color: transparent;
  display: inline-block;
  border: none;
  margin-top: -6px;
}

button.Heart::after {
  content: "\f004";
  font-family: "Font awesome 5 free";
  height: 18.350000381469727px;
  width: 17.5px;
  margin-left: 1.75px;
  margin-top: 3px;
  border-radius: 0px;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.contact_button:hover {
  background-color: #db8876 !important;
  color: black !important;
}
.contact_button:focus {
  background-color: #db8876 !important;
  color: black !important;
  outline: 0 !important;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/*********************************FormModal*****************************************/
#components_formModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 84vh;
  overflow: scroll !important;
  background-color: rgba(196, 196, 196, 0.4);
}

.modal {
  background-color: #fefefe;
  border: 2px solid #95fff9;
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 35px;
  margin: auto;
  height: 100%;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header h2,
.modal header h3 {
  left: 4.23%;
  right: 27.65%;
  top: 1.67%;
  bottom: 89.11%;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 83px;
  color: #000000;
  margin: 0;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
}
.headerContainer button {
  background-color: #db8876;
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
  line-height: 47px;
  mix-blend-mode: normal;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: -17px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

textarea#message {
  height: 170px;
  left: 35px;
  top: 597px;
  border-radius: 5px;
}

button#envoyer {
  background: #911c1c;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 37px;
}

/***********************************Lightbox*******************************************/
div#components_lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: white;
}
.lightbox {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1253px;
  height: 984px;
  background-color: white;
}

.lightbox :focus {
  border: 2px solid #95fff9;
}

.lightbox h4 {
  position: absolute;
  left: 7.54%;
  right: 66.18%;
  top: 91.12%;
  bottom: 1.86%;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #911c1c;
}

#lbMedia {
  background: #c4c4c4;
  height: 900px;
  width: 1050px;
  border-radius: 5px;
  margin-left: 92px;
  margin-top: 21px;
}

#lbClose {
  height: 42px;
  width: 51px;
  left: 15px;
  top: 15px;
  border-radius: 0px;
  position: absolute;
  left: 93.83%;
  top: 2.83%;
  background-color: transparent;
}

i.fas.fa-times {
  border-radius: 0px;
  position: absolute;
  left: 94.83%;
  top: 2.83%;
  font-size: 42px;
  color: #911c1c;
}
#lbPrev {
  height: 60px;
  width: 60px;
  left: 61.639892578125px;
  top: 24px;
  border-radius: 0px;
  position: absolute;
  left: 0.79%;
  top: 45%;
  background-color: transparent;
}

i.fas.fa-chevron-left {
  position: absolute;
  left: 1.79%;
  top: 46%;
  color: #911c1c;
  font-size: 42px;
}

#lbNext {
  height: 60px;
  width: 60px;
  left: 61.639892578125px;
  top: 24px;
  border-radius: 0px;
  position: absolute;
  left: 93.79%;
  top: 45%;
  background-color: transparent;
}

i.fas.fa-chevron-right {
  position: absolute;
  left: 94.79%;
  top: 46%;
  color: #911c1c;
  font-size: 42px;
}

/****************************SortBox****************************************/
.sort {
  display: flex;
  flex-direction: row;
}
p.trier {
  padding-right: 20px;
  position: absolute;
  width: 74px;
  height: 23px;
  left: 97px;
  top: 466px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
button#btnTitle,
button#btnDate {
  left: 97px;
  top: 168px;
  background: #911c1c;
  width: 88%;
  height: 45px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  border: 0px;
  border-top: 1px solid white;
  margin: auto;
  padding-left: 8px;
  padding-top: 10px;
  cursor: pointer;
  z-index: 1;
}

button#btnFirst {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  background: #911c1c;
  height: 60px;
  width: 165px;
  border-radius: 5px;
  position: absolute;
  left: 197px;
  top: 466px;
  background: #911c1c;
  padding-top: 16px;
  padding-left: 15px;
  cursor: pointer;
}
#fas {
  position: absolute;
  background: #911c1c;
  top: 25px;
  left: 133px;
  color: white;
}
.NONE {
  display: none;
}
.Dropdown {
  display: none;
  display: none;
  background: #911c1c;
  height: 112px;
  width: 161px;
  border-radius: 5px;
  position: absolute;
  left: 197px;
  top: 520px;
  background: #911c1c;
}
.Dropdown.IsVisible {
  display: flex;
  flex-direction: column;
}
i.fas.fa-heart {
  font-size: 23px;
  font-weight: bold;
  height: 23px;
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:27px;
  margin-left:5px;
}
